In [78]:
import pandas as pd
import pickle
import scipy.sparse

In [79]:
model = pickle.load(open("model.save", 'rb'))

In [80]:
lookup_dataframe=pd.read_csv('final_list.csv',index_col='index_col')

In [81]:
lookup_dataframe.head()

                                                       title    imdbId
index_col
0          "BLOW THE NIGHT!" Let's Spend the Night Togeth...  10071790
1                           "Great Performances" Cats (1998)    173714
2                                 #1 Cheerleader Camp (2010)   1637976
3                                           #Captured (2017)   6856592
4                                    #Female Pleasure (2018)   8372826

In [83]:
a=lookup_dataframe[lookup_dataframe.title=="Iron Man 3 (2013)"].index[0]
a

23560

In [25]:
[x for x in range(10) if x]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [119]:
l=[23560,8524]

In [88]:
lookup_dataframe[lookup_dataframe.title.str.contains("Captain A")]

                                                      title   imdbId
index_col
8521                                Captain Abu Raed (2007)  1017428
8522                                 Captain America (1944)    36697
8523                                 Captain America (1990)   103923
8524                      Captain America: Civil War (2016)  3498820
8525              Captain America: The First Avenger (2011)   458339
8526             Captain America: The Winter Soldier (2014)  1843866
23554      Iron Man & Captain America: Heroes United (2014)  3911200
55797                       Who Killed Captain Alex? (2010)  1813757

In [217]:
print("{:07d}".format(11))

0000011

In [ ]:
0458339

In [8]:
movie_sparse = scipy.sparse.load_npz('sparse_matrix.npz')

In [9]:
distances,suggestions=model.kneighbors(movie_sparse[23560,:].toarray())

In [77]:
for i in range(len(suggestions[0])):
    print(lookup_dataframe[lookup_dataframe.index==suggestions[0][i]])
#     break

                       title   imdbId
index_col
23560      Iron Man 3 (2013)  1300854
                          title  imdbId
index_col
4305       Avengers, The (2012)  848228
                                                title   imdbId
index_col
8526       Captain America: The Winter Soldier (2014)  1843866
                       title   imdbId
index_col
23559      Iron Man 2 (2010)  1228705
                                    title   imdbId
index_col
4306       Avengers: Age of Ultron (2015)  2395427
                                               title  imdbId
index_col
8525       Captain America: The First Avenger (2011)  458339
                                       title   imdbId
index_col
56670      X-Men: Days of Future Past (2014)  1877832
                 title  imdbId
index_col
51594      Thor (2011)  800369
                                    title   imdbId
index_col
19562      Guardians of the Galaxy (2014)  2015381
                                 title   imdbId
index_col
51596      Thor: The Dark World (2013)  1981115

In [212]:
suggestions[0][i]

51595

In [211]:
for i in range(len(suggestions[0])):
    print(lookup_dataframe[lookup_dataframe.index==suggestions[0][i]])

                                       title   imdbId
index_col
8524       Captain America: Civil War (2016)  3498820
                                    title   imdbId
index_col
4306       Avengers: Age of Ultron (2015)  2395427
                                                title   imdbId
index_col
8526       Captain America: The Winter Soldier (2014)  1843866
                           title   imdbId
index_col
13455      Doctor Strange (2016)  1211837
                    title  imdbId
index_col
3482       Ant-Man (2015)  478970
                     title   imdbId
index_col
12249      Deadpool (2016)  1431045
                                      title   imdbId
index_col
19563      Guardians of the Galaxy 2 (2017)  3896198
                                       title   imdbId
index_col
53843      Untitled Spider-Man Reboot (2017)  2250912
                                    title   imdbId
index_col
19562      Guardians of the Galaxy (2014)  2015381
                           title   imdbId
index_col
51595      Thor: Ragnarok (2017)  3501632

In [179]:
movies_df=pd.DataFrame(columns=["distance",'suggestions','rank'])

In [197]:
movies_df=pd.DataFrame(columns=["distance",'suggestions','rank'])
for i in l:
    print(i)
    rank=[x for x in range(0,10)]
    distances,suggestions=model.kneighbors(movie_sparse[i,:].toarray())
    temp_df=pd.DataFrame(list(zip(distances.reshape(-1),suggestions.reshape(-1),[x for x in range(1,11)])),columns=["distance",'suggestions','rank'])
    
    movies_df=movies_df.append(temp_df)

23560
8524

In [209]:
temp_df[:10]

       distance  suggestions  rank
0  2.486900e-14         8524     1
1  1.987981e-01         4306     2
2  2.060070e-01         8526     3
3  2.131991e-01        13455     4
4  2.197080e-01         3482     5
5  2.500199e-01        12249     6
6  2.541868e-01        19563     7
7  2.665711e-01        53843     8
8  2.673820e-01        19562     9
9  2.708873e-01        51595    10

In [199]:
movies_df

       distance suggestions rank
0  5.551115e-15       23560    1
1  1.866508e-01        4305    2
2  1.894058e-01        8526    3
3  1.985792e-01       23559    4
4  2.082683e-01        4306    5
5  2.116635e-01        8525    6
6  2.279199e-01       56670    7
7  2.284801e-01       51594    8
8  2.311733e-01       19562    9
9  2.345456e-01       51596   10
0  2.486900e-14        8524    1
1  1.987981e-01        4306    2
2  2.060070e-01        8526    3
3  2.131991e-01       13455    4
4  2.197080e-01        3482    5
5  2.500199e-01       12249    6
6  2.541868e-01       19563    7
7  2.665711e-01       53843    8
8  2.673820e-01       19562    9
9  2.708873e-01       51595   10

In [172]:
# movies_df=movies_df.drop_duplicates(subset=['suggestions'])

In [202]:
number_of_movie_selected=2
# img_to_found_df=pd.DataFrame(columns=["distance",'siggestions','rank'])
# img_to_found_df=movies_df[movies_df['rank']==1]

       distance suggestions rank
0  5.551115e-15       23560    1
0  2.486900e-14        8524    1

In [203]:
movies_df=movies_df.drop_duplicates(subset=['suggestions'])

In [206]:
movies_df.sort_values(['rank'],inplace=True)

<ipython-input-206-ee9f2e87b9e2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_df.sort_values(['rank'],inplace=True)

In [208]:
max_no_of_suggestion=9

In [210]:
movies_df[:max_no_of_suggestion+number_of_movie_selected]

       distance suggestions rank
0  5.551115e-15       23560    1
0  2.486900e-14        8524    1
1  1.866508e-01        4305    2
2  1.894058e-01        8526    3
3  1.985792e-01       23559    4
3  2.131991e-01       13455    4
4  2.082683e-01        4306    5
4  2.197080e-01        3482    5
5  2.116635e-01        8525    6
5  2.500199e-01       12249    6
6  2.279199e-01       56670    7

In [223]:
import urllib.parse
urllib.parse.quote_plus('Pulsar200n$')

'Pulsar200n%24'

In [222]:
urlencode({'Pulsar200n$'})

TypeError: not a valid non-string sequence or mapping object

In [173]:
# movies to display
number_of_movie_selected=2
img_to_found_df=pd.DataFrame(columns=["distance",'siggestions'])
for i in range(0,10*number_of_movie_selected,10): #adding selected movie to dataframe
    img_to_found_df=img_to_found_df.append(movies_df.iloc[i])

In [174]:
import math
to_print=int(math.ceil(10/number_of_movie_selected))

In [175]:
to_print

5

In [157]:
for i in range(number_of_movie_selected): #adding the recommendated movie to dataframe
    for j in range(1,to_print):
        img_to_found_df=img_to_found_df.append(movies_df.iloc[i*10+j])

In [158]:
img_to_found_df

        distance siggestions
0   5.551115e-15       23560
10  2.486900e-14        8524
1   1.866508e-01        4305
2   1.894058e-01        8526
3   1.985792e-01       23559
4   2.082683e-01        4306
11  1.987981e-01        4306
12  2.060070e-01        8526
13  2.131991e-01       13455
14  2.197080e-01        3482

In [20]:
lookup_dataframe[lookup_dataframe.index==suggestions[0][0]].title.values[0]

'Iron Man 3 (2013)'

In [36]:
distances

array([[5.55111512e-15, 1.86650797e-01, 1.89405774e-01, 1.98579249e-01,
        2.08268270e-01, 2.11663480e-01, 2.27919947e-01, 2.28480142e-01,
        2.31173319e-01, 2.34545646e-01]])

In [71]:
suggestions.reshape(-1)

array([23560,  4305,  8526, 23559,  4306,  8525, 56670, 51594, 19562,
       51596], dtype=int64)

In [43]:
for i,j in zip(distances.tolist(),suggestions.tolist()):
    print(i,j)
    break

[5.55111512e-15 1.86650797e-01 1.89405774e-01 1.98579249e-01
 2.08268270e-01 2.11663480e-01 2.27919947e-01 2.28480142e-01
 2.31173319e-01 2.34545646e-01] [23560  4305  8526 23559  4306  8525 56670 51594 19562 51596]

In [72]:
import numpy as np
a=zip(distances.reshape(-1),suggestions.reshape(-1))

In [73]:
a=list(a)

In [76]:
a

[(5.551115123125783e-15, 23560),
 (0.1866507969830663, 4305),
 (0.18940577379085588, 8526),
 (0.19857924905072888, 23559),
 (0.2082682695863678, 4306),
 (0.21166347984906297, 8525),
 (0.22791994660083903, 56670),
 (0.22848014236153724, 51594),
 (0.2311733193403147, 19562),
 (0.23454564630441355, 51596)]

In [75]:
set(a)

{(5.551115123125783e-15, 23560),
 (0.1866507969830663, 4305),
 (0.18940577379085588, 8526),
 (0.19857924905072888, 23559),
 (0.2082682695863678, 4306),
 (0.21166347984906297, 8525),
 (0.22791994660083903, 56670),
 (0.22848014236153724, 51594),
 (0.2311733193403147, 19562),
 (0.23454564630441355, 51596)}

In [53]:
a[0]

IndexError: list index out of range